{% extends 'base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock %}
{% block content %}
<section class="about">
    <div class="container">
        <h2>درباره ما</h2>
        <p>کتابخانه ما با هدف گسترش علم و دانش برای دانش‌آموزان ایجاد شده است.</p>
        <h1>شماره تماس: 33247885-011</h1>
        <h1>آدرس: مازندران، ساری، پیوند، انتهای پیوندی چهار</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d801.1921964754237!2d53.0655641998676!3d36.55968754666377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f853fe80c514963%3A0x4905d2ec03e197e1!2sFerdosi%20school!5e0!3m2!1sen!2s!4v1732960486040!5m2!1sen!2s" width="auto" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>
        <img src="{% static 'images/about_imgs/f_f.jpg' %}" alt="moz saman deraze" class="about_img">
        <img src="{% static 'images/about_imgs/f_vorodi.jpg' %}" alt="moz saman" class="about_img">
        <img src="{% static 'images/about_imgs/f_medad.jpg' %}" alt="moz saman" class="about_img">
        <img src="{% static 'images/about_imgs/f_d.jpg' %}" alt="moz saman" class="about_img">
    </div>

</section>
{% endblock %}
