<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} کتابخانه{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>کتابخانه فردوسی</h1>
        <div class="logo">
                <img src="{% static 'images/ferdowsi.png' %}" alt="کتابخانه فردوسی" class="logo-img">
            </div>
                <nav>
                    <ul>
                        {% if user.is_superuser %}
                            <li><a href="/admin">پنل ادمین</a></li>
                        {% endif %}
                        <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                        <li><a href="{% url 'about' %}">درباره ما</a></li>
                        <li><a href="{% url 'book_request' %}">درخواست کتاب</a></li>
                        <li><a href="{% url 'books' %}">کتاب‌ها</a></li>
                    </ul>
                </nav>
            
        </div>
    </header>
    <main>
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

            {% endfor %}
        </ul>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>تمام حقوق محفوظ است © ۱۴۰۳</p>
    </footer>
</body>
</html>
