{% extends 'base.html' %}
{% block title %}کتاب‌ها{% endblock %}
{% block content %}
<body>
    <main>
        <div class="books-container">
            {% for book in books %}
                <div class="book-box">
                    <div class="book-details">
                        <h3 class="book-title">{{ book.title|truncatechars:20 }}</h3>
                        <p class="book-author">نویسنده: {{ book.author.name }}</p>
                        <p class="book-year">سال انتشار: {{ book.year }}</p>
                        <p class="book-genre">ژانر: {{ book.genre }}</p>
                        <p class="book-status">وضعیت: 
                            {% if book.status == 'a' %}
                                در دسترس
                            {% else %}
                                امانت داده شده
                            {% endif %}</p>
                        <a id="detail_button" href="{% url 'book_detail' book.pk %}">جزئیات</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
{% endblock %}
