
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="button-container3">
        <!-- دکمه اول با لینک -->
        <a href="https://example.com/page1" class="custom-btn">
            ورود به کتابخانه
        </a>
        <!-- دکمه دوم با لینک -->
        <a href="https://example.com/page2" class="custom-btn">
            اخبار مدرسه
        </a>
    </div>

</body>
</html>



