{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>مدرسه ما</title>
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
 <section class="slider">
  <div class="slider-container">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">

    <div class="slider-item">
      <label for="slide1" class="slider-label">
        <img src="{% static 'images/about_imgs/f_d.jpg' %}" alt="Slider Image 1">
      </label>
    </div>
    <div class="slider-item">
      <label for="slide2" class="slider-label">
        <img src="{% static 'images/about_imgs/f_f.jpg' %}" alt="Slider Image 2">
      </label>
    </div>
    <div class="slider-item">
      <label for="slide3" class="slider-label">
        <img src="{% static 'images/about_imgs/f_drakht.jpg' %}" alt="Slider Image 3">
      </label>
    </div>

    <div class="dots">
      <label for="slide1" class="dot"></label>
      <label for="slide2" class="dot"></label>
      <label for="slide3" class="dot"></label>
    </div>
  </div>
</section>


  <!-- Quick Access -->
  <section class="quick-access">
    <div class="container">
      <h2>دسترسی سریع</h2>
      <div class="cards">
        <a href="{% url 'books' %}" class="card">
          <div class="icon">📚</div>
          <h3>کتابخانه</h3>
          <p>منابع آموزشی</p>
        </a>
        <a href="#" class="card">
          <div class="icon">📰</div>
          <h3>اخبار و گزارشات</h3>
          <p>آخرین رویدادها</p>
        </a>
        <a href="#" class="card">
          <div class="icon">👨‍🏫</div>
          <h3>کارکنان</h3>
          <p>معرفی دبیران و کارکنان</p>
        </a>
        <a href="#" class="card">
          <div class="icon">📅</div>
          <h3>تقویم آموزشی</h3>
          <p>برنامه‌های مدرسه</p>
        </a>
      </div>
    </div>
  </section>
  <section class="about-school">
    <div class="container">
      <h2>درباره مدرسه</h2>
      <p>
        مدرسه ما همواره در تلاش است تا با بهره‌گیری از روش‌های نوین آموزشی و معلمان مجرب، محیطی پویا برای دانش‌آموزان فراهم کند. هدف ما تربیت دانش‌آموزانی خلاق، مسئولیت‌پذیر و موفق است.
      </p>
    </div>
  </section>
{% endblock %}
</body>
</html>